[defaults]
inventory=inventory
host_key_checking=False

# Use the YAML callback plugin
stdout_callback = yaml

# Use the stdout_callback when runing ad-hoc commands
bin_ansible_callbacks = True
interpreter_python = auto_silent
